<h1>Add new task</h1>
<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_area(:details, size: '50x10') %>
  <%= f.submit %>
<% end %>
<footer>
  <p><%= link_to '&#9776; Back to list'.html_safe, tasks_path %></p>
</footer>
