<h1><%= @task.title %></h1>
<div id="edit-btn">
  <%= link_to '&#9998; Edit this task'.html_safe, edit_task_path(@task) %>
</div>
<div id="task-details">
  <p><%= @task.details %></p>
</div>
<% if @task.completed %>
  <p>&#9745; This task is completed</p>
<% else %>
  <p>&#9744; This task is not completed yet</p>
<% end %>
<footer>
  <p><%= link_to '&#10010; Add a new task'.html_safe, new_task_path %></p>
  <p><%= link_to '&#9776; Back to list'.html_safe, tasks_path %></p>
</footer>
